.center {
    margin: auto;
    width: 1000px;
}
.toolbar {
    height: 200px;
    background:#FFF;
    padding-top: 20px;
}
.toolbar > .user {
    border-width: 1px;
    width: 40px;
    height: 40px;
}
.toolbar > .right {
    float: right;
}
#drawer {
    background-color: black;
    position: relative;
    box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    height: unset;
    width: unset;
    max-width: unset;
    max-height: unset;
}
body {
    height: 100%;
    width: 100%;
    color: rgba(33, 33, 33, 0.87);
    background-color: #eee;
}
